{% extends 'dashboard.html' %}
{% block content %}
<div class="container mt-5">

    <div class="row">
      <div class="col">
        <button class="btn btn-success" data-toggle="modal" data-target="#createproduitform"><i class="fa fa-user-plus"></i></button>
        <button class="btn btn-success" data-toggle="modal" data-target="#exportcontactform"><i class="fa fa-upload"></i></button>
        <button class="btn btn-success"><i class="fa fa-download"></i></button>
      </div>
      <div class="col">
          <input class="input_search" placeholder="search" name="search"  autocomplete="off">
      </div>
    </div>
    <div class="row" id="tableau">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                  <tr class="first_row_table">
                    <th>NOM</th>
                    <th>Quantité</th>
                    <th>Seuil Sécurite</th>
                    <th>Seuil Alerte</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                  <tr class="row_table">
                    <td>{{ produit.name }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.securite }}</td>
                    <td>{{ produit.alerte }}</td>
                    <td>
                      <a href="{% url 'detail' id_produit=produit.id %}"><i class="fa fa-pencil mr-3"></i></a>
                      <i class="fa fa-trash mr-3"></i>
                    </td>
                  </tr>
            </div>
    </div>
  </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





<!--Start add product Modal-->
<div class="modal" id="createproduitform">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter Produit</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'save_product' %}" method="get">
              <div class="row mb-1">
                <div class="col col-4">Nom</div>
                <div class="col"><input type="text" name="name" class="form-control border-secondary"></div>
              </div>
              <div class="row mb-1">
                <div class="col col-4">Quantité</div>
                <div class="col"><input type="number" name="quantite" class="form-control border-secondary"></div>
              </div>
              <div class="row mb-1">
                <div class="col col-4">Seuil Sécurité</div>
                <div class="col"><input type="number" name="securite" class="form-control border-secondary"></div>
              </div>
              <div class="row mb-1">
                <div class="col col-4">Seuil Alerte</div>
                <div class="col"><input type="number" name="alerte" class="form-control border-secondary"></div>
              </div>
              <br><br><button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> OK</button>
        </form>
      </div>

    </div>
  </div>
</div>



  </div>
</div>

{% endblock %}

